{% extends 'header.html' %}

{% block body %}
<div class="container-fluid"> 

<form action="" class="form-inline" method="post">
	Enter your email address: <input type="text" class="form-control" name="email" value="{{request.form.email}}" >
	<input type="submit" class="btn btn-success" name="submit" value="Send Email" style="float:right";>
</form>
<hr>
<form action="" class="form-inline" method="post">
	Enter OTP: <input type="text" class="form-control" name="otp" value="{{request.form.otp}}" >
	<input type="submit" class="btn btn-success" name="submit" value="Verify OTP" style="float:right;>
</form>
</div>

{% endblock %}